{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "env": {
    "browser": true,
    "node": false
  },
  "rules": {
    "semi": "error"
  }
}